body{
    font-size: 17px !important;
}
.bop{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    margin-left: 10px;
}
.clown img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.hero{
    display: grid;
    align-content: space-between;
}
.crow{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url(/image/tech.gif);
}